body{
  font-family: "Lato", "Roboto", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  position: relative;
  margin: 5% 7%;
  height: 100%;
  width: 90%;
  background-color: #731F19;
  background-image: url("taco.png");
  background-position: 90% 0%;
  background-repeat: no-repeat;
  background-size: 65%;
  color: white;
}

#title{
  font-size: 40px;
  margin-bottom: 40px;
}

table {
  padding: 20px 0px;
  display: block;
  height: 350px;
  max-width: 500px;
  overflow-y: auto;
}

ul{
  margin: 10px 0px;
}


button{
  font-family: inherit;
  color: inherit;
  font-weight: 700;
  background-color: #5E1F19;
  font-size: 22px;
  border: hidden;
}

button:hover{
  cursor: pointer;
  background-color: #DF9B6D;
  transition: 300ms;
}


.step{
  font-size: 30px;
  margin-bottom: 20px;
}

.hint{
  font-size: 20px;
  font-style: italic;
}

#tacoSentence{
  margin: 20px 0px;
  color: #DF9B6D;
  font-size: 30px;
  font-weight: 700;
}

.header{
  font-size: 24px;
  margin-top: 20px;
}

#tacoList{
  font-size: 28px;
  font-weight: 700;
}
